body{
    background-color: #0D1424;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}
h1{
    text-align: center;
    margin-top: 20px;

}
.container{width: 100vw;}
.content{
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #0D1424;
    border-radius: 10px;
    border: 0.2px solid #3B82F6 ;
    gap:3px;
    padding: auto;

}
.content input, .content select{
    margin: 10px;
    padding: 5px;
    background-color: #0D1424;
    color: white;
    border:  solid white;
}
.content button{
    font-size: 16px;
    background-color:#3B82F6;
    border:  none;
    color: white;
    border-radius: 5px;
}
#mydialog{
    background-color: #0D1424;
    border-radius: 10px;

}
table{
    border-collapse: collapse;
   
}
table thead{
    background-color: #3B82F6;
}
th,td{
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
table button{
    background-color: #3B82F6;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
select{
    background-color: #0D1424;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 16px;
}
.add{
    background-color: #3B82F6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 20px;
    display: block;
    
}
.filler{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}


