*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    display:flex;
    min-height:100vh;
    background:#2f4a86;
}

/* sidebar */
.sidebar{
    width:220px;
    background:#243b6b;
    color:white;
    padding:20px 10px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:12px;
    border-radius:8px;
    cursor:pointer;
}

.sidebar ul li:hover{
    background:#3b5390;
}

/* main */
.main{
    flex:1;
    padding:20px;
}

/* header */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.search{
    padding:10px 15px;
    width:300px;
    border-radius:20px;
    border:none;
    outline:none;
    background:#3f5aa5;
    color:white;
}

.user{
    color:white;
}

/* dashboard */
.dashboard{
    background:linear-gradient(135deg,#e4e8f2,#9aa7c7);
    border-radius:30px;
    padding:20px;
    border:1px solid rgba(255,255,255,0.4);
    box-shadow:0 15px 40px rgba(0,0,0,0.25);
}

/* button */
.add{
    margin-left:auto;
    margin-bottom:15px;
    display:block;
    background:#3B82F6;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

/* cards */
.cards{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* table */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

th, td{
    padding:12px;
    text-align:left;
}

th{
    background:#3b82f6;
    color:white;
}

tr:nth-child(even){
    background:#f2f2f2;
}